@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    $colors: (
        'primary': (
            'base': rgba(70, 70, 229, 0.6),
        )
    )
);

:root {
    --el-color-primary: rgba(70, 70, 229, 1) !important;
    --el-button-disabled-bg-color: #464699 !important;
    --el-button-hover-bg-color: #4646ff !important;
  }
  
  .el-button--primary:hover, .el-button--primary:focus {
    background-color: #4650ff !important;
    color: #fff !important;
  }
  
  .el-button--primary:active {
    background-color: #3f3fcf !important;
    color: #fff !important;
  }
  
  .el-button:disabled {
    background-color: #464699 !important;
    color: #fff !important;
  }